// variables
//extend
%flexcolum {
    display: flex;
    flex-direction: column;
    align-items: center;
}

%tituloequipos {
    color: rgba(181, 181, 196, 0.884);
    background-color: rgba(105, 101, 101, 0.288);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    text-align: center;
    background-image: url(../Img/Presentacion/fondotitulos.png);
    padding: 1rem;
    font-size: 2rem;
    min-height: 8vh;
    text-transform: uppercase;
}

%alinaciontexto {
    text-align: center;
    text-transform: uppercase;
}

%alineacionul {
    display: flex;
    justify-content: center;
    align-items: center;
}

%alineacionropageneral {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

%alineacionropageneral2 {
    justify-content: space-between;
    height: auto;
    padding: 1rem;
    flex: 1 1 200px;
}

%botoncompras {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    background-color: rgb(250, 250, 20);
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 800;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.973);
    max-width: 200px;
}

%botas-tubo-guantes-general {
    width: 100%;
    position: relative;
    gap: 1rem;
    flex-direction: column;
    padding: 2rem;
}

%tamañoimagenesproductos {
    width: 10rem;
    object-fit: contain;
}

%tamañoyfondoproductos {
    width: 90%;
    background-color: rgba(149, 155, 71, 0.733);
    max-width: 300px;
}

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    gap: 5rem;
    display: inline-block;

}

li {
    display: inline-block;
    padding: 3px;
}

li:hover a {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.788);
}

.titulo {
    color: rgba(105, 101, 101, 0.548);
}

/* Estilos Header */

.fondotitulo {
    background-image: url(../Img/Presentacion/nuevofondohe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30rem;
}


.Logoempresa {
    width: 30%;
    max-width: 200px;
    min-width: 80px;
    height: auto;
    display: block;
}

.fondotitulo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.menusuperior ul li a {
    color: rgba(255, 255, 255, 0.842);
    text-decoration: none;
    @extend %alineacionul;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.li {
    width: 90%;
}


.nombreempresa {
    color: rgba(255, 0, 0, 0.76);
    text-transform: uppercase;
    font-size: 3rem;

}

.sub {
    color: rgba(245, 245, 245, 0.76);
}

/* Main */
.main {
    background-color: rgba(10, 20, 40);
    padding: 0.5rem;
}

.cajatitulo {
    @extend %alineacionul;
}

.tituloepp {
    color: rgb(0, 0, 255);
    font-size: 2rem;
    margin-bottom: 50px;
    @extend %alinaciontexto;
}

.equipotitulo {
    @extend %tituloequipos;
}

/* cascos */
.cascos-general {
    @extend %alineacionropageneral;
    width: 100%;
    position: relative;
    gap: 1rem;
    padding: 2rem;
    flex-direction: column;
}

.cascobul,
.cascoros {
    @extend %tamañoyfondoproductos;
    @extend %flexcolum;
    @extend %alineacionropageneral2;
}

.cascoimg {
    width: 70%;
    @extend %tamañoimagenesproductos;
}


/* ropa */
.ropamsa {
    @extend %tamañoyfondoproductos;
    @extend %flexcolum;
    padding: 1rem;
    gap: 1rem;
    height: auto;
}

.roparos {
    @extend %tamañoyfondoproductos;
    @extend %flexcolum;
    @extend %alineacionropageneral2;
    gap: 1rem;
    box-sizing: content-box;
}

.ropamsa p,
.roparos p {
    font-size: 1rem;
    text-align: center
}

/* botas */
.botasa,
.botasb,
.tuboa,
.tubob,
.guantesa {
    @extend %tamañoyfondoproductos;
    @extend %flexcolum;
    @extend %alineacionropageneral2;
}

/* epp */
.ropa-general,
.tubo,
.guantes,
.botas {
    @extend %alineacionropageneral;
    @extend %botas-tubo-guantes-general;
}

.botasa img,
.botasb img,
.tuboa img,
.tubob img,
.guantesa img,
.ropamsa img,
.roparos img {
    @extend %tamañoimagenesproductos;
}

.precio {
    color: rgb(165, 42, 42);
    font-weight: 900;
}

.botoncompras {
    @extend %botoncompras;
}


.titulocascos {
    text-transform: uppercase;
    color: rgb(0, 0, 255);
}


/* GRID */

.contenedor {
    @extend %flexcolum;
    gap: 1.5rem;
    background-color: rgba(10, 20, 40, 1);
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.div1,
.div2,
.div3 {
    width: 90%;
    max-width: 500px;
    background-color: rgb(10, 10, 124);
    color: rgba(255, 255, 255, 0.9);
    border: solid rgba(0, 0, 0, 0.95);
    border-radius: 20px;
    padding: 1rem;
    box-sizing: border-box;
    word-break: break-word;
    overflow-wrap: break-word;
}

.textotrayectoria,
.textovision,
.textoobjetivos li {
    font-size: 1rem;
    line-height: 1.5;
}

.textoobjetivos {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
}

/* ubicacion*/
.empresas-trabajo,
.ubicacion h2 {
    color: rgba(245, 245, 220, 0.938);
    font-size: 2rem;
    @extend %alinaciontexto;
    padding: 1rem;
}

.ubicacion {
    @extend %flexcolum;
}

.mapa {
    width: 90%;
}

/* footer */
.footer-todo {
    background-color: rgba(0, 0, 0, 0.795);

}

footer img {
    height: 5rem;
}

.contacto,
.redes,
.footer-todo {
    color: rgba(228, 226, 231, 0.89);
    padding: 0.1rem;
}

/* Carrucel */

.carousel-inner img {
    object-fit: contain;
    max-height: 150px;
    width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 50% 50%;
}

.logos {
    width: 100%;
    height: auto;
}

.imagen-card{
     border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 150px;
    object-fit: cover;
}
//carrucel matafuegos//





@media (min-width: 900px) {
    ul {
        flex-direction: row;
        justify-content: center;
    }

    .cascos-general,
    .ropa-general,
    .botas,
    .tubo,
    .guantes {
        flex-direction: row;
    }

    .cascobul,
    .cascoros,
    .botasa,
    .botasb,
    .guantesa,
    .tuboa,
    .tubob {
        width: 25rem;
        height: auto;
    }

    .ropamsa,
    .roparos {
        flex: 1 1 200px;
        max-width: 300px;

    }
}

@media (min-width: 600px) {
    .contenedor {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (min-width: 900px) {

    .div1,
    .div2,
    .div3 {
        width: 30%;
    }
}

.ul {
    flex-direction: column;
    align-items: flex-start;
}

.li {
    width: 100%;
}

.a {
    padding: 12px;
}