.footer-todo {
  background-color: rgba(0, 0, 0, 0.795);
  color: rgba(228, 226, 231, 0.89);
  padding: 0.1rem;
}

.logoredes {
  height: 5rem;
  border-radius: 2rem;
  width: 5rem;
}

.contacto,
.redes {
  color: rgba(228, 226, 231, 0.89);
  padding: 0.1rem;
}
