.ropa-general,
.tubo,
.guantes,
.botas,
.cascos-general {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  position: relative;
  gap: 1rem;
  flex-direction: column;
  padding: 2rem;
}

.botasa,
.botasb,
.tuboa,
.tubob,
.guantesa,
.roparos,
.ropamsa,
.cascobul,
.cascoros {
  justify-content: space-between;
  width: 90%;}

  .main {
  background-color: $color-fondo-principal;
  padding: 0.5rem;
}
.cascos-general {
  width: 100%;
  position: relative;
  gap: 1rem;
  padding: 2rem;
  flex-direction: column;}

  
.cascoimg {
  width: 70%;
}

.ropamsa {
  padding: 1rem;
  gap: 1rem;
  height: auto;
}

.roparos {
  gap: 1rem;
  box-sizing: content-box;
}

.ropamsa p,
.roparos p {
  font-size: 1rem;
  text-align: center;
}

.precio {
  color: rgb(165, 42, 42);
  font-weight: 900;
}

.titulocascos {
  text-transform: uppercase;
  color: rgb(0, 0, 255);
}

.contenedor {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: $color-fondo-principal;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}