.botasa,
.botasb,
.tuboa,
.tubob,
.guantesa,
.roparos,
.ropamsa,
.cascobul,
.cascoros {
  @extend %estiloropa;
}

.items-carrito {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
  }

  .item-carrito {
    display: flex;
    justify-content: space-between;
    background: $color-titulo-texto;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid $color-titulo-texto;
  }