$color-boton-bg: rgb(250, 250, 20);
$color-boton-texto: rgb(0, 0, 0);
$color-boton-border: rgba(0, 0, 0, 0.973);

$color-fondo-principal: rgb(10, 20, 40);
$color-texto-principal: rgba(181, 181, 196, 0.884);
$color-titulo-bg: rgba(105, 101, 101, 0.288);

$color-titulo-texto: rgba(245, 245, 220, 0.938);
$color-titulo-secundario: rgba(105, 101, 101, 0.548);
$color-btn-finalizar: rgb(79, 170, 79);

$color-titulo: rgb(29, 53, 87);
$color-borde: rgb(204, 204, 204);
$radio: 0.5rem;

$color-bg: rgb(245, 245, 220);
$color-border: rgb(0, 0, 0);
$color-text: rgb(0, 0, 0);
$color-header-bg: rgb(110, 46, 37);
$color-header-text: rgb(56, 56, 56);