.botoncompras {
  display: inline-block;
  background-color: red;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn-finalizar {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
}